$font-stack: Helvetica, sans-serif;
$primary-color: #01A7E3;
$secondary-color: #E33D01;
$bg-color: #1c1c1c;
$text-black: #000000;
$text-white: #FFFFFF;
$font: "JetBrains Mono", monospace;

button {
  border: none;
  color: $text-black;
  padding: 16px 32px;
  align: center;
  text-align: center;
  width: 21%;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 0px .5%;
  transition-duration: 0.1s;
  cursor: pointer;
  background-color: white;
  border: 2px solid black;
  font-family: $font;
  border-radius: 10px;
}

button:hover {
  background-color: $primary-color;
  color: $text-white;
}

header {
  align: center;
}

body {
  width: auto;
  max-width: 1200px;
  margin: 20px;
  font-family: sans-serif;
  background-color: $bg-color ;
  color: $text-white;
  align: center;
  position: center;
}


footer {
  background: #f2f2f2;
  padding: 2px 2px;
  font-size: .7em;
  text-align: center;
}

.headerrectangle {
  font-family: $font;
  height: auto;
  width: auto;
  background-color: #555;
  text-align: center;
  margin: 0px 4.5%;
  font-size: 30px;
  border-radius: 10px;
  font-size: auto;
  
}

.bodysectionrectangle {
  font-family: $font;
  height: auto;
  width: auto;
  background-color: #555;
  text-align: left;
  margin: 0px 12%;
  font-size: 15px;
  border-radius: 10px;
  margiin: 2%;
  padding: 0px 8px;
}

.btn-toolbar {
  align-content: center;
}

.btn-group, .btn-group-vertical {
  position:relative;
  vertical-align:middle;
}