<header>
  <div>
    <!-- add ASnumber and header here -->
  </div>
  <div> <!-- Header Navigation Buttons -->
    <a href='https://www.peeringdb.com/net/30033' target="_blank" rel='noopener noreferrer'><button class='button buttonhead' type=button >PeeringDB</button></a>
    <a href='https://whois.arin.net/rest/asn/AS397244' target="_blank" rel='noopener noreferrer'><button class='button buttonhead' type=button >ARIN</button></a>
    <a href='https://bgp.he.net/AS397244' target="_blank" rel='noopener noreferrer'><button class='button buttonhead' type=button >bgp.he.net</button></a>
    <a href='https://bgp.tools/as/397244' target="_blank" rel='noopener noreferrer'><button class='button buttonhead' type=button >bgp.tools</button></a>
  </div>
</header>